{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  {{ $styles := resources.Get "scss/custom.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
</head>
<body class="content-page">

  <!-- mainCards -->
  {{ if or .Params.mainCards_title .Params.mainCards_text .Params.mainCards_images }}
  <section class="section">
    <div class="section-container">
      <h2 class="section-title">{{ .Params.mainCards_title }}</h2>

      {{ with .Params.mainCards_text }}
      <div class="section-intro">
        {{ . | markdownify }}
      </div>
      {{ end }}

      {{ with .Params.mainCards_images }}
      <div class="maincards-images">
        {{ range . }}
          <img src="{{ . }}" alt="" class="maincards-image">
        {{ end }}
      </div>
      {{ end }}
    </div>
  </section>
  {{ end }}

  <!-- miniCards -->
  {{ if .Params.miniCards }}
  <section class="section">
    <div class="section-container">
      <h2 class="section-title">{{ .Params.miniCards_title }}</h2>

      {{ with .Params.miniCards_text }}
      <div class="section-intro">
        {{ . | markdownify }}
      </div>
      {{ end }}


      <div class="organizers-grid">
        {{ range .Params.miniCards }}
          <a href="{{ .url }}">
            <div class="organizer-card">
              <div class="organizer-name">{{ .title }}</div>
            </div>
          </a>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}

  <!-- BigCards -->
  {{ if .Params.BigCards }}
  <section class="section">
    <div class="section-container">
      <h2 class="section-title">{{ .Params.BigCards_title }}</h2>

      {{ with .Params.BigCards_text }}
      <div class="section-intro">
        {{ . | markdownify }}
      </div>
      {{ end }}

      <div class="participants-grid">
        {{ range .Params.BigCards }}
        <a href="{{ .url }}">
          <div class="participant">
            <img src="{{ .photo }}" alt="{{ .name }}" class="participant-photo-square">
            <div class="participant-info">
              <h3>{{ .name }}</h3>
              <h4>{{ .affiliation }}</h4>
              <p>{{ .bio }}</p>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}

</body>
</html>
{{ end }}
